//bootstrap
$primary: #0078d4;

$body-color: #323130;
$body-bg: #f0f0f0;

$border-radius: 2px;
$border-radius-sm: 2px;
$border-radius-lg: 2px;

$dropdown-padding-y: 0;

$card-cap-bg: #fff;

$input-bg: #fff;

//admin
$header-height: 50px;
$sidebar-width: 300px;
$sidebar-show-breakpoint: lg;
